body {
  margin: 0;
  padding: 0;
  background-color: #030202;
}

.Popular {
  font-size: 24px;
  color: rgb(254, 254, 254);
  margin-bottom: 45px;
  margin-left: 9px;
}

.top {
  font-size: 24px;
  margin-bottom: 45px;
  color: rgb(228, 225, 225);
  margin-left: 9px;
  margin-top: 560px;
}

.Common {
  font-size: 24px;
  color: white;
  margin-bottom: 45px;
  margin-left: 9px;
}

.poster {
  width: 100%;
  height: 100%;
  background-image: url(https://cdn1.dotesports.com/wp-content/uploads/2022/01/19063343/zeri-splash-1.jpg);
  background-size: cover;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.introduction {
  top: 290px;
  left: 75px;
  position: absolute;
  font-size: 20px;
  color: white;
}

.ico {
  margin-left: 75px;
}

.Int {
  margin-top: -37px;
  width: 580px;
  font-size: 14px;
}

.ggrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, auto);
  margin-top: -24px;
}

.backposter {
  height: 610px;
  position: absolute;
  top: -45px;
  z-index: -1;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .ico {
    margin-left: 45px;
  }

  .poster {
    width: 100%;
    opacity: 75%;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
  }

  .backposter {
    z-index: -1;
    height: 395px;
    width: 100%;
    top: -55px;
    position: absolute;
  }

  .introduction {
    display: none;
  }

  .top {
    font-size: 24px;
    color: white;
    margin-top: 340px;
    margin-bottom: 24px;
    margin-left: 8px;
  }

  .ggrid {
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    display: grid;
  }

  .Common {
    font-size: 24px;
    color: white;
    margin-left: 8px;
    margin-bottom: 24px;
  }

  .item-img {
    width: 100%;
    height: 100%;
  }

  .Popular {
    font-size: 24px;
    color: white;
    margin-left: 8px;
    margin-bottom: 24px;
  }
}
